.MyProjects {
    background-color: #F1E2FF;
}

.projectList {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.projectItem {
    flex-basis: 500px;
    text-align: justify;
    background-color: #EAEAEA;
    cursor: pointer;
    border-radius: 20px;
}

.projectItem:hover {

}

/*.projectItem:hover .projectBtn {*/
/*    opacity: 1;*/
/*}*/

.projectImg {
    position: relative;
}

.projectImg img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.projectBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border: 0;
    opacity: 1;
}

.projectInfo {
    padding: 15px;
}

.projectTitle {
    margin-bottom: 5px;
}

@media only screen and (max-width: 1080px) {
    .projectList {
        column-gap: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .projectList {
        flex-direction: column;
        row-gap: 20px;
    }
}
