.main {
    background-color: #FFDEE9;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #282c34;
}

.greetings {
    text-align: left;
    max-width: 300px;
}

.imgWrapper {
    width: 300px;
}

.imgWrapper img {
    width: 100%;
}

@media only screen and (max-width: 575px) {
    .mainContainer {
        flex-direction: column;
    }
}